
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#container{
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: #e0daf0;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    color: rgb(33, 33, 33);
    text-align: center;
    display: flex;
    flex-direction: column;
   
    text-align: center;
    align-items: center;
}
#container h1  {
 color: rgb(41, 39, 39);
 font-size: 3em;
 
}
#container h2 {
  color: rgb(71, 71, 71);
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
 
#container input {
  height:50px;
  width: 400px;
  border-radius: 50px;
 
}
#container button {
  margin-top: 100px;
  height: 100px;
  width: 150px;
  border-radius: 75px;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
}



